</div>
</div>
    <div class="page-wrapper">
                <div class="page-wrapper-inner">

                    <!-- Left Sidenav -->
                    <div class="left-sidenav">
                        
                        <ul class="metismenu left-sidenav-menu" id="side-nav">

                            <li class="menu-title">Anasayfa</li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-user"></i><span>Yöneticiler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false"> 
                                    <li><a href="/admins/admins/"><span>Yönetici Yönet</span></a></li>
                                    <li><a href="/admins/register/"><span>Yönetici Ekle</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="mdi mdi-beer"></i><span>Fallar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/fortunes/waiting_fortunes/">Cevap Bekleyen Fallar</a></li>
                                    <li><a href="/fortunes/fortunes/"><span>Cevaplanmış Fallar</span></a></li>
                                    <li><a href="/fortunes/fortuneComment/"><span>Fal Yorumları</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-user-group"></i><span>Kullanıcılar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/users/users/"><span>Tüm Kullanıcılar</span></a></li>
                                    <li><a href="/users/disabled_users/"><span>Engelli Kullanıcılar</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="mdi mdi-barley"></i><span>Promosyon Kodları</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/promotion/addPromotion/"><span>Promosyon Kodu Ekle</span></a></li>
                                    <li><a href="/promotion/promotion/"><span>Promosyon Kodları</span></a></li>  
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="mdi mdi-format-list-numbered"></i><span>Hazır Fallar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/readyFortune/saveFortune/"><span>Hazır Fal Ekle</span></a></li>
                                    <li><a href="/readyFortune/readyFortunes/"><span>Hazır Fallar</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-device-mobile"></i><span>Uygulamayı Yönet</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/application/uploadFortune/"><span>Resimleri Düzenle</span></a></li>
                                    <li><a href="/application/sendFortune/5eea5f10c2ab1908e98b8a41"><span>Yazıları Düzenle</span></a></li> 
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="dripicons-device-mobile"></i><span>Bildirimler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="/notification/multipleNotification/"><span>Toplu Bildirim</span></a></li>  
                                    <li><a href="/notification/usersNot/"><span>Kişiye Özel Bildirim</span></a></li>  
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end left-sidenav-->

                    <!-- Page Content-->