<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-store"></i>  Toplu Bildirim Gönder</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Bira Cini</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);"> Toplu Bildirim Gönder</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">BİLDİRİM GÖNDER</h4>
                        <form action='/notification/multipleNotification' method='POST'>
                            <div class="form-group">
                                <textarea required="" name='notificationMessage' id='notificationMessage' class="form-control" placeholder="Bildirim Mesajını Giriniz..." rows="5"></textarea>
                            </div>
                            <button name="action" type="submit" class="btn btn-primary">Gönder</button>
                        </form>                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./src/footer'); %>