<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-store"></i>  Hazır Fal Ekle</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Bira Cini</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);"> Hazır Fal Ekle</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">HAZIR FAL KAYDET</h4>
                        <form action='/readyFortune/saveFortune/' method='POST'>
                            <div class="form-group">
                                <input name='readyFortuneDescription' type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Hazır Fal Cevabı İçin Açıklama Giriniz...">
                            </div>
                            <div class="form-group">
                                <textarea required="" name='readyFortune' id='readyFortune' class="form-control" placeholder="Hazır Fal Cevabı Giriniz..." rows="5"></textarea>
                            </div>
                            <button name="action" type="submit" class="btn btn-primary">Gönder</button>
                        </form>                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./src/footer'); %>
                        
